html {
    font-size: 625%; /*100 ÷ 16 × 100% = 625%*/
}
*{
    margin: 0;
    padding: 0;
    font-size: 0.12rem;
}

.el-message-box__wrapper>.el-message-box{
    width: 3rem;
}
/**/
.totle_list{
    position: relative;
    padding: 0.1rem;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
}
.methods{
    position: absolute;
    right: 0.1rem;
    top: 0.38rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-shanchu-copy{
    margin-top: 0.06rem;
}

.totle_list p{
    font-size: 0.14rem;
    font-weight: bold;
    margin-bottom: 0.05rem;

}
.totle_list span{
    width: 50%;
    display: inline-block;
    float: left;
    color: #666;
    margin-bottom: 0.04rem;
}
.select {
    text-align: center;
    padding: 0.06rem;
    background: #409eff;
}
.el-input{
    font-size: 0.12rem !important;
}
.el-input__inner{
    height: 0.3rem !important;
    line-height: 0.3rem !important;
}
.el-input-group__append, .el-input-group__prepend{
    padding: 0 0.1rem !important;
}


/*项目总体计划清单*/
#project_table{
    background: #ffffff;
}
.idbody_title{
    padding:0.06rem;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.12rem;
    background: #409eff;
    color: white;
}

.left select{
    padding: 0.08rem;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
}
.option{
    height: 0.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left{
    color: #ffffff;
}