
body{
    list-style: none;
    margin:0;
    padding: 0;
}
#idbody{
    padding: 20px;
}
.tables ul{
    padding-left: 0;
    overflow: hidden;
}
.tables ul>li{
    cursor: pointer;
    margin-bottom: 5px;
    box-sizing: border-box;
    list-style: none;
    float: left;
    width: 15px;
    text-align: center;
    line-height: 15px;
    border: 1px solid gray;
    margin-left: 5px;
    font-size: 10px;
}

table th .cell{
    font-size:12px;
    font-family: "微软雅黑";
    line-height:20px !important;
}



.el-table td, .el-table th{
    padding: 10px;
}

.clickIndex{
    background:#409EFF;
    color:white;
    border:1px solid #409EFF;
}

.el-input__inner,.el-textarea__inner{
    border: none;
    font-size: 12px;
}

.el-table td, .el-table th{
    padding: 0;
}