html {
    font-size: 625%; /*100 ÷ 16 × 100% = 625%*/
}
*{
    margin: 0;
    padding: 0;
    font-size: 0.12rem;
}


/**/
.totle_list{
    padding: 0.1rem;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
}

.totle_list p{
    font-size: 0.14rem;
    font-weight: bold;
    margin-bottom: 0.05rem;

}
.totle_list span{
    width: 50%;
    display: inline-block;
    float: left;
    color: #666;
    margin-bottom: 0.04rem;
}
.select {
    padding: 0.06rem;
    background: #e9ebed;
}
.el-input{
    font-size: 0.12rem !important;
}
.el-input__inner{
    height: 0.3rem !important;
    line-height: 0.3rem !important;
}
.el-input-group__append, .el-input-group__prepend{
    padding: 0 0.1rem !important;
}


/*项目总体计划清单*/
#project_table{
    background: #ffffff;
}
.idbody_title{
    padding:0.06rem;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.12rem;
    background: #e9ebed;
}

.left select{
    height: 0.3rem;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
}
.option{
    height: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*项目总体计划清单*/
#project_table{
    background: #ffffff;
}
