<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>钉钉e应用-日报</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="./js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="./element_ui/index.css">
    <link rel="stylesheet" href="./element_ui/iconfont/iconfont.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./element_ui/vue.js" type="text/javascript"></script>
    <script src="./element_ui/index.js" type="text/javascript"></script>
    <script src="./element_ui/vuex.js" type="text/javascript"></script>
    <script src="./element_ui/store.js" type="text/javascript"></script>
    <script src="./element_ui/vue-resource.js" type="text/javascript"></script>
    <script src="./element_ui/vue-router.js" type="text/javascript"></script>
</head>
<body>

    <div id="idbody">
        <div class="daily">
            <ul class="dailyList">
                <li v-for="(items,index) in dailyList">
                    <span class="dailyList-title" v-text="items.p_name"></span>
                </li>
            </ul>
        </div>
        <!--选择日志接收人-->
        <div class="js_box">
            <p class="add">添加日志接收人<b id="add_name">选择</b></p>
            <div id="name_list">

            </div>

        </div>
        <div class="btn" onclick="save()">
            提交
        </div>
        <div class="pop">

            <div class="popbox">
                <p class="seach">选择日志接收人：</p>
                <div id="change2">
                </div>
                <input type="button" value="确定" id="upload">
                <input type="button" value="取消" id="hide" onclick="hide()">
            </div>
        </div>
    </div>

    <script>
        var curWwwPath=window.document.location.href;
        var pathName=window.document.location.pathname;
        var pos=curWwwPath.indexOf(pathName);
        var localhostPaht=curWwwPath.substring(0,pos);
        var myHome = new Vue({
            el:"#idbody",
            data:{
                //日报列表信息
                dailyList:[],
            },
            mounted:function(){
                var _this=this;
                _this.getDailyList();
            },
            methods:{
                //获取日报列表信息函数
                getDailyList:function(){
                    var _this=this;
                    $.ajax({
                        url:localhostPaht+"/journal/list",
                        type:"post",
                        cache:false,
                        contentType:"application/json; charset=utf-8",
                        dataType:"json",
                        async:false,
                        data:null,
                        success:function(res){
                            if(res.code == 200){
                                _this.dailyList=res.data.result;
                                console.log(_this.dailyList)
                            }else{
                                _this.$message({
                                    type:"error",
                                    message:"没有日报信息",
                                })
                            }
                        }
                    });
                },
            },
            updated:function(){
                var _this=this;

            },
        });
    </script>
    <script>

        //插入项目列表v
        function insert() {

        }
        //插入日志接收人选择项
        function checkALL() {
            $('#name_list').html('');
            //获取被选中显示到页面
            var boxes=document.getElementsByTagName('input');
            for(var i=0;i<boxes.length;i++){
                if(boxes[i].checked==true){
                   var htmlList =$('<span>'+boxes[i].value+'</span>');
                }
                $('#name_list').append(htmlList)
            }
        }
        function show() {
            $('.pop').show();
        }
        function hide() {
            $('.pop').hide();
        }
//提交数据
        function save() {
            //意思是选择被选中的checkbox的id
            var temp=0;
            var deliver;
            $.each($('input:checkbox:checked'),function(){//遍历选择的抄送人获取抄送人id
                if( temp > 0 &&(temp+1) == $('input[type=checkbox]:checked').length){
                    deliver=deliver+$(this).attr("id");
                }else{
                    if(temp == 0){
                        if((temp+1) == $('input[type=checkbox]:checked').length){
                            deliver=$(this).attr("id");
                        }else{
                            deliver=$(this).attr("id")+",";
                        }
                    }else{
                        deliver=deliver +$(this).attr("id")+",";
                    }

                }
                temp+=1;
            });
           var arr=$(".daily_left").length;
           var item = [];
           var i = 1;
            $(".daily_left").each(function(){
                var wcjd=$(this).children("span").children("input").eq(0).val();
                var wcgs=$(this).children("span").children("input").eq(1).val();
                var  weekId= $(this).attr("id");
                var text=$(this).children("div").children("textarea").val();
                var param = {
                    wcjd:wcjd,
                    wcgs:wcgs,
                    weekId:weekId,
                    deliver:deliver,
                    text:text
                };
                i++;
                item.push(param);
            });
            $.ajax({
                url:localhostPaht+"/journal/save",
                type:"post",
                cache:false,
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                async:false,
                data:JSON.stringify({para: item}),
                success:function(res){
                    if(res.code == 200){
                        alert(res.msg);

                    }
                }
            });

        }



    </script>
</body>
</html>