<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>钉钉e应用-日报</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <title>项目总体计划</title>
</head>
<body>
    <div class="select">
        <div class="option">
            <div class="left">
                选择查看年度:
                <select>
                    <option>2019</option>
                    <option>2018</option>
                </select>
            </div>
            <div class="right">
                <input type="text" value=""><input type="button" value="搜索">
            </div>
        </div>
    </div>
    <div class="totle">
        <div class="totle_list">
            <p>市县经营评价</p>
            <span>计划开始时间：2018.11.20</span>
            <span>项目阶段：需求分析</span>
            <span>计划结束时间：2018.11.20</span>
            <span>总体完成进度：2018.11.20</span>
        </div>
        <div class="totle_list">
            <p>市县经营评价</p>
            <span>计划开始时间：2018.11.20</span>
            <span>项目阶段：需求分析</span>
            <span>计划结束时间：2018.11.20</span>
            <span>总体完成进度：2018.11.20</span>
        </div>
    </div>

</body>
</html>