<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>项目总体计划展示</title>
    <link rel="stylesheet" type="text/css" href="./css/pages/project_table.css">
    <script src="./js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="./element_ui/iconfont/iconfont.css">
    <script src="./element_ui/vue.js" type="text/javascript"></script>
    <script src="./element_ui/vuex.js" type="text/javascript"></script>
    <script src="./element_ui/store.js" type="text/javascript"></script>
    <script src="./element_ui/vue-resource.js" type="text/javascript"></script>
    <script src="./element_ui/vue-router.js" type="text/javascript"></script>
    <script src="//g.alicdn.com/dingding/dingtalk-jsapi/2.6.41/dingtalk.open.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>项目总览展示</title>
    <style>
        .el-tabs__nav-wrap.is-scrollable{
            padding: 0;
        }
        .el-tabs__nav-next, .el-tabs__nav-prev{
            display: none;
        }
        .el-tabs__nav{
            width: 100%;
        }
        .el-tabs__nav>div{
            width: 33.33333%;
            text-align: center;
            font-size: 12px;
            padding: 0;
        }
        .el-tabs__nav>div:nth-child(2){
            padding-left: 0 !important;
        }
        .el-tabs__nav>div:nth-child(3){
            padding-right: 0 !important;
        }
        .el-tabs__item{
            padding: 0;
        }
        .el-tabs__header{
            margin: 0;
        }
        /*表头固定*/
        .idbody_title{
            z-index: 100;
            width: 100%;
            position: fixed;
            top:0;
            left:0;
        }
        /*主题内容*/
        .project-table-content,.totle{
            position: absolute;
            top:0.41rem;
            bottom: 0;
            left:0;
            right:0;
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;

        }

        .el-input__icon{
            line-height: 30px !important;
        }

        .left .el-select{
            width:0.8rem;
        }
        .right{
            width: 1.5rem;
            margin-left:0.04rem;
        }
    </style>
    <link rel="stylesheet" href="../static/css/pages/week.css">
</head>
<body>
    <div id="idbody">
        <div class="ztjh" v-if="shows">
            <div class="select">
                <div class="option">
                    <div class="left">
                        <strong>年度:</strong>
                        <el-select v-model="params.annualTime" placeholder="请选择" @change="timeChange">
                            <el-option
                                    key=""
                                    label="请选择年份"
                                    value="">
                            </el-option>
                            <el-option
                                    key="2018"
                                    label="2018"
                                    value="2018">
                            </el-option>
                            <el-option
                                key="2019"
                                label="2019"
                                value="2019">
                            </el-option>
                        </el-select>
                        <!--阶段-->
                        <el-select v-model="params.pProjectPhaseId" placeholder="请选择" @change="timeChange">
                            <el-option
                                    key=""
                                    label="请选择年份"
                                    value="">
                            </el-option>
                            <el-option
                                    v-for="(item,index) in productJieDuan"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="right">
                        <el-input placeholder="请输入内容" v-model="params.pName" class="input-with-select">
                            <el-button slot="append" icon="el-icon-search" @click="searchs"></el-button>
                        </el-input>
                    </div>
                </div>
            </div>
            <div style="text-align: center;line-height: 60px;width: 100%;" v-if="listMessage.length<=0?true:false">暂无数据</div>
            <div class="totle"  v-else-if="listMessage.length>0?true:false">
                <div class="totle_list" v-for="(items,index) in listMessage"
                     @click="listClick(items)">
                    <p v-text="items.pName"></p>
                    <span><strong>计划开始时间：</strong><strong v-text="items.pStartTime"></strong></span>
                    <span><strong>项目阶段：</strong><strong v-text="items.pProjectPhaseId"></strong></span>
                    <span><strong>计划结束时间：</strong><strong v-text="items.pEndTime"></strong></span>
                    <span><strong>总体完成进度：</strong><strong><strong v-text="items.pProgress"></strong><strong>%</strong></strong></span>
                </div>
            </div>
        </div>

        <div id="project_table" v-else-if="!shows">
            <div class="idbody_title">
                项目总体计划清单
            </div>
            <div class="project-table-content">
                <el-tabs v-model="activeName2" type="card" @tab-click="handleClick">
                    <el-tab-pane label="明细计划-需求分析" name="1"></el-tab-pane>
                    <el-tab-pane label="明细计划-数据处理" name="2"></el-tab-pane>
                    <el-tab-pane label="明细计划-系统开发" name="3"></el-tab-pane>
                </el-tabs>

                <el-table class="tables"
                          border
                          :data="tableData"
                          style="width: 100%">
                    <el-table-column
                            align="center"
                            label="任务类"
                    >
                        <template slot-scope="scope">
                            {{scope.row.tName}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="任务子类"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{scope.row.tsName}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="任务项"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{scope.row.aName}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="计划开始时间"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{scope.row.apsTime}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="计划完成时间"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{scope.row.apeTime}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="实际开始时间"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{scope.row.aasTime}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="实际完成时间"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{scope.row.aaeTime}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="负责人"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{scope.row.username}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="完成百分比"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{scope.row.percentage}}%
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="状态"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{getStates(scope.row.state)}}
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="成果物是否提交"
                            prop="index"
                    >
                        <template slot-scope="scope">
                            {{scope.row.isResult==1?"待提交":"已提交"}}
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>


    <script>
        var myHome = new Vue({
            el:"#idbody",
            data:{
                //查询条件
                params:{
                    annualTime:"",//时间
                    pName:"",//输入框
                    pProjectPhaseId:"",
                },
                //项目阶段
                productJieDuan: [
                    {
                        name: "需求分析",
                        id: 1,
                    },
                    {
                        name: "数据处理",
                        id: 2,
                    },
                    {
                        name: "系统开发",
                        id: 3,
                    }
                ],

                pid:"",
                shows:true,
                listMessage:[],

                //当前登录用户信息
                loginUser:{

                },

                /*默认展示的tab切换页*/
                activeName2:"",
                tableData:[],
            },
            mounted:function(){
                var _this=this;
                //_this.getListMessage();
                _this.getDingDing();//获取临时授权码
            },
            methods:{
                nianDu:function(){
                    var _this=this;

                },
                //获取有关钉钉需要的值
                getDingDing:function () {
                    var _this=this;
                    $.ajax({
                        url:"http://106.13.24.63:8082/projectPlan/queryEmterpriseMesg",
                        type:"GET",
                        data:{},
                        dataType:"json",
                        success:function(res){
                            _this.getCode(res);
                        }
                    });
                },

                //获取临时授权码,
                getCode:function (_config) {
                    console.log(_config);
                    var _this=this;
                    dd.ready(function() {
                        dd.runtime.permission.requestAuthCode({
                            corpId:_config.corpId, // 企业id
                            onSuccess: function (info) {
                                _this.code=info.code;
                                _this.getListMessage(info.code);//回显保存的数据
                            },
                            onFail : function(err) {
                                alert('fail: ' + JSON.stringify(err));
                            }
                        });
                    });

                },





                //查询
                searchs:function(){
                    var _this=this;

                    $.ajax({
                        url:"http://106.13.24.63:8082/projectPlan/projectBypName",
                        async:true, // 请求是否异步,默认为异步,这也是ajax重要特性
                        data:_this.params,
                        type:"POST",
                        dataType:"JSON",
                        success:function(res){
                            if (res.code==200){

                                _this.listMessage=_this.sjzh(res.data);
                            };
                        }
                    });
                },
                timeChange:function(){
                    var _this=this;
                    $.ajax({
                        url:"http://106.13.24.63:8082/projectPlan/projectBypName",
                        async:true, // 请求是否异步,默认为异步,这也是ajax重要特性
                        data:_this.params,
                        type:"POST",
                        dataType:"JSON",
                        success:function(res){
                            if (res.code==200){

                                _this.listMessage=_this.sjzh(res.data);
                            };
                        }
                    });
                },

                //校验显示状态
                getStates:function(nums){
                    var _this=this;
                    var str="";
                    if (nums ==1){
                        str = "未开始";
                    } else if (nums ==2){
                        str = "进行中";
                    }else if (nums ==3){
                        str = "已完成";
                    };
                    return str;
                },

                //项目阶段数据转换
                sjzh:function(data){
                    var _this=this;
                    for(var i=0;i<data.length;i++){
                        var items=data[i];
                        if (items.pProjectPhaseId==1) {
                            items.pProjectPhaseId="需求分析"
                        }else if (items.pProjectPhaseId==2) {
                            items.pProjectPhaseId="数据处理"
                        }else if (items.pProjectPhaseId==3) {
                            items.pProjectPhaseId="系统开发"
                        };
                    };
                    return data;
                },

                //获取列表信息
                getListMessage:function(code){
                    var _this=this;
                    $.ajax({
                        url:"http://106.13.24.63:8082/projectPlan/listAll",
                        data:{'authCode':code},
                        //data:{},
                        type:"POST",
                        dataType:"json",
                        success:function(res){
                            _this.listMessage=_this.sjzh(res.projectPlans);
                            _this.loginUser=res.sysUser;
                        }
                    });
                },

                //点击列表信息
                listClick:function (items) {
                    var _this=this;

                    //权限  设置  点击列表不让下钻
                    if(_this.loginUser.isAdmin==true||_this.loginUser.isBoss==true||_this.loginUser.isLeader==true){
                        _this.shows=false;

                        if(items.pProjectPhaseId=="需求分析"){
                            items.pProjectPhaseId="1";
                        }else if(items.pProjectPhaseId=="数据处理"){
                            items.pProjectPhaseId="2";
                        }else if(items.pProjectPhaseId=="系统开发"){
                            items.pProjectPhaseId="3";
                        };
                        _this.activeName2=items.pProjectPhaseId;

                        _this.pid=items.pId;
                        _this.pName=items.pName;
                        _this.getProject(items);

                    }else{
                        _this.$message({
                            message:"您没有查看详情的权限",
                            type:"warning",
                        });
                    };
                },

                /*获取项目总体计划清单明细*/
                getProject:function(params){
                    var _this=this;
                    $.ajax({
                        url:"http://106.13.24.63:8082/projectPlan/projectPlanList",
                        data:{
                            pId:params.pId,
                            pProjectPhaseId:params.pProjectPhaseId,
                        },
                        type:"POST",
                        dataType:"json",
                        success:function(res){
                            _this.tableData=res.data;
                            $(".idbody_title").html(params.pName);
                        }
                    });
                },
                /*点击项目总体计划明细tab*/
                handleClick:function(data){
                    var _this=this;
                    var params={
                        pId:_this.pid,
                        pProjectPhaseId:data.name,
                        pName:_this.pName
                    };
                    console.log(params)
                    _this.getProject(params);
                },
            },
            updated:function(){
                var _this=this;

            },
        });
    </script>
</body>
</html>