<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>双周计划</title>

    <!--引入element_ui的样式-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./element_ui/iconfont/iconfont.css">
    <link rel="stylesheet" href="./css/pages/week.css">

    <!--引入jquery-->
    <script src="./js/jquery-3.3.1.js" type="text/javascript"></script>

    <!---引入钉钉官方的script--->
    <script src="//g.alicdn.com/dingding/dingtalk-jsapi/2.6.41/dingtalk.open.js"></script>
    <script src="./element_ui/vue.js" type="text/javascript"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./element_ui/vuex.js" type="text/javascript"></script>
    <script src="./element_ui/store.js" type="text/javascript"></script>
    <script src="./element_ui/vue-resource.js" type="text/javascript"></script>
    <script src="./element_ui/vue-router.js" type="text/javascript"></script>
    <meta name="wpk-bid" content="dta_1_269856828">

    <!--定义类样式--->
    <style>
        .tables1{
            position: relative;
            overflow: auto;
        }
        .tables1 .el-table--border{

        }
        .addThisWeek{
            /* position: absolute;
             top: 18px;
             left: 148px;
             z-index: 10;*/
            margin:0.1rem 0;
        }
        .header{
            position: relative;
            width: 100%;
        }
        .header-data{
            font-size: 0.12rem;
        }
        .header-data .el-date-editor.el-input, .el-date-editor.el-input__inner{
            width:1.2rem;
            height: 0.3rem !important;
        }
        .header-data input{
            line-height: 0.3rem !important;
        }
        .header-title{
            position: relative;
            color:white;
            width: 100%;
            text-align: center;
            padding: 0.08rem 0;
            background: #409EFF;
            font-size: 0.12rem;
        }
    </style>
</head>
<body>

<!--给div标签定义一个id选择器-->
<div id="idbody">

    <div class="header">
        <div class="header-title">项目双周计划</div>
        <div class="header-data">
            <el-date-picker
                    v-model="params.startTime"
                    @change="startTimeChange"
                    type="date"
                    placeholder="选择开始日期">
            </el-date-picker>
            <el-date-picker
                    v-model="params.endTime"
                    @change="endTimeChange"
                    type="date"
                    placeholder="选择结束日期">
            </el-date-picker>
            <div style="display:flex;justify-content:flex-end;">
                <el-button type="primary" @click="save" class="addThisWeek" size="mini">保存</el-button>
                <el-button type="primary" size="mini" class="addThisWeek" @click="addThisWeek">新增</el-button>

            </div>
        </div>
<!--
        <div class="header-data">计划期间：<span class="startTime"></span>&#45;&#45;<span class="endTime"></span></div>
-->
    </div>
    <div class="tables1">


        <el-table class="tables"
                  border
                  :data="tableData">
            <el-table-column
                    align="center"
                    label="计划时间"
                    min-width="120"
            >
                <template slot-scope="scope">
                    <ul>
                        <li v-for="(items,index) in scope.row.recordTimes"  v-text="items.name" :class="{clickIndex:items.isSelect=='true'}" @click="dataClick(scope.$index, scope.row,items,index)"></li>
                    </ul>
                </template>
            </el-table-column>



            <el-table-column
                    align="center"
                    label="项目名称"
                    prop="pId"
                    min-width="120"
            >
                <template slot-scope="scope">
                    <el-select v-model="scope.row.pId" @change="xmmcChange" placeholder="请选择">
                        <el-option
                                v-for="(item,index) in xmName"
                                :key="item.pId"
                                :label="item.pName"
                                :value="item.pId">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>

            <el-table-column
                    align="center"
                    label="任务项"
                    prop="tsId"
                    min-width="120"
            >
                <template slot-scope="scope">
                    <el-select v-model="scope.row.tsId" @change="rwxChange" placeholder="请选择">
                        <el-option
                                v-for="(item,index) in rwx"
                                :key="item.tsId"
                                :label="item.tsName"
                                :value="item.tsId">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>

            <el-table-column
                    align="center"
                    label="工作任务描述"
                    prop="wWorkReport"
                    min-width="200"
            >
                <template slot-scope="scope">
                    <el-input
                            @change="rwmsChange"
                            type="textarea"
                            autosize
                            placeholder="请输入工作任务描述"
                            v-model="scope.row.wWorkReport">
                    </el-input>
                </template>
            </el-table-column>

            <el-table-column
                    align="center"
                    label="责任人"
                    prop="userId"
                    min-width="80"
            >
                <template slot-scope="scope">
                    <el-select v-model="scope.row.userId" @change="fzrChange" placeholder="请选择">
                        <el-option
                                v-for="(item,index) in zrr"
                                :key="item.userId"
                                :label="item.name"
                                :value="item.userId">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="实际完成率"
                    prop="wActualProportion"
                    min-width="80"
            >
                <template slot-scope="scope">
                    <el-input v-model="scope.row.wActualProportion" :disabled="true" placeholder="实际完成百分比"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="计划完成率"
                    prop="wPlanProportion"
                    min-width="80"
            >
                <template slot-scope="scope">
                    <el-input v-model="scope.row.wPlanProportion" @change="jhbfbChange" placeholder="计划完成百分比"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="状态"
                    prop="wStatus"
                    min-width="80"
            >
                <template slot-scope="scope">
                    <el-select v-model="scope.row.wStatus" @change="statusChange" :disabled="scope.row.statusDisabled" placeholder="请选择">
                        <el-option
                                v-for="(item,index) in wStatusList"
                                :key="item.value"
                                :label="item.name"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="备注\协调配合"
                    prop="wRemark"
                    min-width="150"
            >
                <template slot-scope="scope">
                    <el-input type="textarea" @change="bzChange"
                              autosize v-model="scope.row.wRemark" placeholder="备注\协调配合"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作"
                    prop="wRemark"
                    min-width="50"
            >
                <template slot-scope="scope">
                    <img src="./imgs/shanchu.png" @click="delThisWeek(scope.row,scope)" style="width: 15px;cursor:pointer;"/>
                </template>
            </el-table-column>
        </el-table>

    </div>

    <div class="tables1">
        <div style="display:flex;justify-content:flex-end;">
            <el-button type="primary" size="mini" class="addThisWeek" @click="addNextWeek">新增</el-button>
        </div>

        <el-table class="tables"
                  border
                  :data="tableData1">
            <el-table-column
                    align="center"
                    label="计划时间"
                    min-width="120"
            >
                <template slot-scope="scope">
                    <ul>
                        <li v-for="(items,index) in scope.row.recordTimes"  v-text="items.name" :class="{clickIndex:items.isSelect=='true'}" @click="dataClick(scope.$index, scope.row,items,index)"></li>
                    </ul>
                </template>
            </el-table-column>



            <el-table-column
                    align="center"
                    label="项目名称"
                    prop="pId"
                    min-width="120"
            >
                <template slot-scope="scope">
                    <el-select v-model="scope.row.pId" @change="xmmcChange" placeholder="请选择">
                        <el-option
                                v-for="(item,index) in xmName"
                                :key="item.pId"
                                :label="item.pName"
                                :value="item.pId">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>

            <el-table-column
                    align="center"
                    label="任务项"
                    prop="tsId"
                    min-width="120"
            >
                <template slot-scope="scope">
                    <el-select v-model="scope.row.tsId" @change="rwxChange" placeholder="请选择">
                        <el-option
                                v-for="(item,index) in rwx"
                                :key="item.tsId"
                                :label="item.tsName"
                                :value="item.tsId">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>

            <el-table-column
                    align="center"
                    label="工作任务描述"
                    min-width="200"
                    prop="wWorkReport" >
                <template slot-scope="scope">
                    <el-input
                            @change="rwmsChange"
                            type="textarea"
                            autosize
                            placeholder="请输入工作任务描述"
                            v-model="scope.row.wWorkReport">
                    </el-input>
                </template>
            </el-table-column>

            <el-table-column
                    align="center"
                    label="责任人"
                    prop="userId"
                    min-width="80"
            >
                <template slot-scope="scope">
                    <el-select v-model="scope.row.userId"  @change="fzrChange" placeholder="请选择">
                        <el-option
                                v-for="(item,index) in zrr"
                                :key="item.userId"
                                :label="item.name"
                                :value="item.userId">
                        </el-option>
                    </el-select>

                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="实际完成率"
                    prop="wActualProportion"
                    min-width="80"
            >
                <template slot-scope="scope">
                    <el-input v-model="scope.row.wActualProportion" :disabled="true" placeholder="实际完成百分比"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="计划完成率"
                    prop="wPlanProportion"
                    min-width="80"
            >
                <template slot-scope="scope">
                    <el-input v-model="scope.row.wPlanProportion" @change="jhbfbChange" placeholder="计划完成百分比"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="状态"
                    prop="wStatus"
                    min-width="80"
            >
                <template slot-scope="scope">
                    <el-select v-model="scope.row.wStatus" :disabled="scope.row.statusDisabled" @change="statusChange" placeholder="请选择">
                        <el-option
                                v-for="(item,index) in wStatusList"
                                :key="item.value"
                                :label="item.name"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="备注\协调配合"
                    prop="wRemark"
                    min-width="150"
            >
                <template slot-scope="scope">
                    <el-input type="textarea"
                              @change="bzChange"
                              autosize v-model="scope.row.wRemark" placeholder="备注\协调配合"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作"
                    min-width="50"
            >
                <template slot-scope="scope">
                    <img src="./imgs/shanchu.png" @click="delNextWeek(scope.row,scope)" style="width: 15px;cursor:pointer;"/>
                </template>
            </el-table-column>
        </el-table>
    </div>


</div>
</body>

<script>
    var dataLists=[];
    var thisWeek=[];//本周数据
    var nextWeek=[];//下周数据
    (function () {
        $.ajax({
            url:"http://localhost:8082/weekReport/getTwelveDayDate",
            type:"GET",
            data:{},
            dataType:"json",
            success:function(res){
                dataLists=res.data;
                $(".startTime").text(dataLists[0]);
                $(".endTime").text(dataLists[11]);
                thisWeek=dataLists.slice(0,7);
                nextWeek=dataLists.slice(-5);
            }
        });




    })(window)



    var myHome = new Vue({
        el:"#idbody",
        data:{
            //结束、开始时间
            params:{
                startTime:"",
                endTime:"",
            },
            thisWeekMonth:[],//本周带月份的日期
            nextWeekMonth:[],//下周带月份的数据
            code:"",
            //任务项
            rwx:[],
            //项目名称
            xmName:[],
            //责任人
            zrr:[],
            tableData:[],//本周完成情况
            tableData1:[],//下周完成情况

            //状态值

            wStatusList:[
                {
                    name:"进行中",
                    value:1,
                },
                {
                    name:"暂停",
                    value:2,
                },
                {
                    name:"已完成",
                    value:3,
                }
            ],

            flags:true,

            dubClick:1,//禁止双击保存
        },
        mounted:function(){
            var _this=this;
            //_this.getDingDing();//获取临时授权码
            //获取本周和下周时间范围
            var date=new Date();//当前时间
            _this.getMonRen(date);
           _this.getDatas();
        },
        created:function () {
            var _this=this;

        },
        methods:{
            //改变时间框
            endTimeChange:function(value){
                var _this=this;
                _this.getMonRen(value);
            },
            //改变时间框
            startTimeChange:function(value){
                var _this=this;
                _this.getMonRen(value);
            },

            //获取默认开始时间和结束时间
            getMonRen:function(date){
                var _this=this;

                var day = date.getDay() || 7;
                var thisDateWeekOne=new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1 - day)//当前时间的周一
                var nextWeek=new Date(date.getFullYear(), date.getMonth(),thisDateWeekOne.getDate()+11);
                //当前时间的本周一
                _this.params.startTime=thisDateWeekOne;
                //当前时间的下周五
                _this.params.endTime=nextWeek;
                console.log(thisDateWeekOne,nextWeek);
            },

            //得到新增时候本周、下周的日期
            getAddThisWeek:function(){
               var _this=this;
               var startTimes=_this.params.startTime;
               var newArray=[];
               for(var i=0;i<12;i++){
                   var str=new Date(new Date()
                       .setDate(startTimes.getDate()+i))
                       .toLocaleDateString();
                   str=str.replace(/\//g, '-');
                   newArray.unshift(str);
               };
               newArray.reverse();//数组反转
                var newArrayDay=[];
                for(var i=0;i<newArray.length;i++){
                    var items=newArray[i];
                    var months=Number(items.substr(5,1));
                    if(months<10){
                        months="0"+months;
                    }else{
                        months=months
                    };
                    var index=_this.findIndex(items,'-',1);
                    var days=Number(items.substring(index+1));
                    if(days<10){
                        days="0"+days;
                    }else{
                        days=days
                    };
                    newArrayDay.push(months+"-"+days);
                };
               return newArrayDay;
            },

            //项目名称改变事件
            xmmcChange:function(){
                var _this=this;
                _this.dubClick=1;
            },

            //任务项名称改变事件
            rwxChange:function () {
                var _this=this;
                _this.dubClick=1;
            },
            //任务描述
            rwmsChange:function(){
                var _this=this;
                _this.dubClick=1;
            },

            //责任人名称改变事件
            fzrChange:function () {
                var _this=this;
                _this.dubClick=1;
            },
            //计划完成率
            jhbfbChange:function(){
                var _this=this;
                _this.dubClick=1;
            },
            //状态名称改变事件
            statusChange:function () {
                var _this=this;
                _this.dubClick=1;
                
            },
            //备注、协调配合
            bzChange:function(){
                var _this=this;
                _this.dubClick=1;
            },

           /* //获取有关钉钉需要的值
            getDingDing:function () {
                var _this=this;
                $.ajax({
                    url:"http://localhost:8082/weekReport/queryEmterpriseMesg",
                    type:"GET",
                    data:{},
                    dataType:"json",
                    success:function(res){
                        _this.getCode(res);
                    }
                });
            },

            //获取临时授权码,
            getCode:function (_config) {
                console.log(_config);
                var _this=this;
                dd.ready(function() {
                    dd.runtime.permission.requestAuthCode({
                        corpId:_config.corpId, // 企业id
                        onSuccess: function (info) {
                            _this.code=info.code;
                            _this.getDatas(info.code);//回显保存的数据
                        },
                        onFail : function(err) {
                            alert('fail: ' + JSON.stringify(err));
                        }
                    });
                });

            },*/

            /*获取已经保存过后的数据*/
            getDatas:function () {
                var _this=this;
                /* var objs={
                     authCode:code,
                 }*/
                _this.tableData=[];
                _this.tableData1=[];

                $.ajax({
                    url:"http://localhost:8082/weekReport/selectWeekReportDetial",
                    type:"POST",
                    //data:{},
                    data:{
                        'wStarTime':_this.params.startTime,
                        'wEndTime':_this.params.endTime,
                    },
                    dataType:"json",
                    success:function(res){
                        //获取   用户的所有信息

                        _this.sysUsers=res.sysUser;
                        if(res.weekreports!=null){
                            for(var i=0;i<res.weekreports.length;i++){
                                var items=res.weekreports[i];
                                for(var j=0;j<items.recordTimes.length;j++){
                                    var item= items.recordTimes[j];
                                    if(item.isSelect=="1"){
                                        item.name=item.name.substr(8,2);
                                        item.isSelect="false";
                                        item.nums=0;
                                    }else{
                                        item.name=item.name.substr(3,2);
                                    };

                                };
                                if(items.wStatus==3){
                                    items.statusDisabled=true;
                                }else{
                                    items.statusDisabled=false;
                                };
                                if(items.wType==1){
                                    _this.tableData.push(items);
                                }else{
                                    _this.tableData1.push(items);
                                };
                            };
                        };

                        _this.getRwx();
                        /* _this.rwx=res.data;
                         _this.getXmmc();*/
                    }
                });
            },
            //获取任务项
            getRwx:function(data){
                var _this=this;
                $.ajax({
                    url:"http://localhost:8082/weekReport/queryTaskSubIdAndName",
                    type:"GET",
                    data:{},
                    dataType:"json",
                    success:function(res){
                        _this.rwx=res.data;
                        _this.getXmmc();
                    }
                });
            },
            //获取项目名称
            getXmmc:function(){
                var _this=this;
                $.ajax({
                    url:"http://localhost:8082/weekReport/selectProjectPlanIdAndName",
                    type:"GET",
                    data:{},
                    dataType:"json",
                    success:function(res){
                        _this.xmName=res.data;
                        _this.getZrr();
                    }
                });
            },
            /*获取责任人*/
            getZrr:function(){
                var _this=this;
                $.ajax({
                    url:"http://localhost:8082/sys/user/selectUserByDepartment",
                    type:"GET",
                    data:{},
                    dataType:"json",
                    success:function(res){
                        _this.zrr=res.data;
                    }
                });
            },
            //找到 日期  -  第二个的下标
            findIndex:function(str,cha,num){
                var x=str.indexOf(cha);
                for(var i=0;i<num;i++){
                    x=str.indexOf(cha,x+1);
                }
                return x;
            },
            //新增本周
            addThisWeek:function(){
                var _this=this;
                var thisNextWeek=_this.getAddThisWeek().slice(0,7);//获取本周和下周 2018-02-10  结合在一起的数组
                _this.thisWeekMonth=thisNextWeek;
                _this.dubClick=1;
                //本周日期
                var thisWeeks=[];
                for(var i=0;i<thisNextWeek.length;i++){
                    var items=thisNextWeek[i];
                    var objs={
                        isSelect:'false',
                        nums:0,
                        name:items.substr(3,2),
                        timeId:"",
                        wId:"",
                        sorts:i+1,
                    };
                    thisWeeks.push(objs);
                };
                var years=_this.params.startTime.getFullYear();
                var years1=_this.params.endTime.getFullYear();
                var months=_this.params.startTime.getMonth()+1;
                var months1=_this.params.endTime.getMonth()+1;
                var days=_this.params.startTime.getDate();
                var days1=_this.params.endTime.getDate();
                if(months<10){
                    months="0"+months;
                };
                if(months1<10){
                    months1="0"+months1;
                };
                if(days<10){
                    days="0"+days;
                };
                if(days1<10){
                    days1="0"+days1;
                };
                var objs={
                    recordTimes:thisWeeks,
                    pId:"",
                    tsId:"",
                    userId:"",
                    wActualProportion:"",
                    wPlanProportion:"100",
                    wWorkReport:"",
                    wStatus:"",
                    wRemark:"",
                    wType:"1",
                    wStartTime:years+"-"+months+"-"+days,
                    wEndTime:years1+"-"+months1+"-"+days1,
                };

                _this.tableData.push(objs);

            },
            //新增下周
            addNextWeek:function () {
                var _this=this;
                _this.dubClick=1;

                //本周日期
                var nextWeeks=[];
                var thisNextWeek=_this.getAddThisWeek().slice(-5);
                _this.nextWeekMonth=thisNextWeek;
                for(var i=0;i<thisNextWeek.length;i++){
                    var items=thisNextWeek[i];
                    var objs={
                        isSelect:'false',
                        nums:0,
                        name:items.substr(3,2),
                        timeId:"",
                        wId:"",
                        sorts:i+1,
                    };
                    nextWeeks.push(objs);
                };


                var years=_this.params.startTime.getFullYear();
                var years1=_this.params.endTime.getFullYear();
                var months=_this.params.startTime.getMonth()+1;
                var months1=_this.params.endTime.getMonth()+1;
                var days=_this.params.startTime.getDate();
                var days1=_this.params.endTime.getDate();
                if(months<10){
                    months="0"+months;
                };
                if(months1<10){
                    months1="0"+months1;
                };
                if(days<10){
                    days="0"+days;
                };
                if(days1<10){
                    days1="0"+days1;
                };


                var objs={
                    recordTimes:nextWeeks,
                    pId:"",
                    tsId:"",
                    userId:"",
                    wActualProportion:"",
                    wPlanProportion:"100",
                    wStatus:"",
                    wWorkReport:"",
                    wRemark:"",
                    wType:"2",
                    wStartTime:years+"-"+months+"-"+days,
                    wEndTime:years1+"-"+months1+"-"+days1,
                };

                _this.tableData1.push(objs);
            },
            //删除本周
            delThisWeek:function (params,scope) {
                var _this=this;
                _this.dubClick=1;
                console.log(params,scope);
                if(!params.wId){
                    _this.tableData.splice(scope.$index,1);
                }else{
                    _this.tableData.splice(scope.$index,1);
                    var objs={
                        wId:params.wId,
                    };
                    $.ajax({
                        url:"http://localhost:8082/weekReport/deleteWeekReportById",
                        data:objs,
                        type:"POST",
                        dataType:"json",
                        success:function(res){
                            _this.$message({
                                message:"删除成功",
                                type:"success",
                            });
                            // _this.getCode();
                        }
                    });
                };
            },
            //删除下周
            delNextWeek:function (params,scope) {
                var _this=this;
                _this.dubClick=1;
                if(!params.wId){
                    _this.tableData1.splice(scope.$index,1);
                }else{
                    _this.tableData1.splice(scope.$index,1);
                    var objs={
                        wId:params.wId,
                    };
                    $.ajax({
                        url:"http://localhost:8082/weekReport/deleteWeekReportById",
                        data:objs,
                        type:"POST",
                        dataType:"json",
                        success:function(res){
                            console.log(res);
                            _this.$message({
                                message:"删除成功",
                                type:"success",
                            });
                            // _this.getCode();
                        }
                    });
                };
            },
            //点击日期
            dataClick:function(scopeIndex,scopeRow,items,itemsIndex){
                var _this=this;
                _this.dubClick=1;
                var itemss=scopeRow.recordTimes[itemsIndex];
                itemss.nums++;
                if(itemss.nums%2==0){
                    itemss.isSelect='false';
                    itemss.nums=0;
                }else{
                    itemss.isSelect='true';
                };
            },
            //检验是饭否时间选择
            yanZhengTime:function (data) {
                var newArray=[];
                for(var i=0;i<data.length;i++){
                    var items=data[i];
                    if(items.isSelect=="true"){
                        newArray.push(items);
                    };
                };
                return newArray;
            },

            //保存
            save:function(){
                var _this=this;
                var flags=false;

                var newArray=[];
                newArray=_this.tableData.concat(_this.tableData1);
                // for(var i=0;i<newArray.length;i++){
                //     var items=newArray[i];
                //     if(items.recordTimes.length==7){
                //         for(var j=0;j<items.recordTimes.length;j++){
                //             var item=items.recordTimes[j];
                //             item.name=_this.thisWeekMonth[j];
                //         };
                //     }else{
                //         for(var j=0;j<items.recordTimes.length;j++){
                //             var item=items.recordTimes[j];
                //             item.name=_this.nextWeekMonth[j];
                //         };
                //     };
                // };
                console.log(newArray);
                for(var i=0;i<newArray.length;i++){
                    var items=newArray[i];
                    console.log(items)
                    if(_this.yanZhengTime(items.recordTimes).length<=0){
                        _this.$message({
                            message:"请选择计划完成得时间",
                            type:"error",
                        });
                        flags=false;
                        return;
                    }else if(items.pId==""){
                        _this.$message({
                            message:"请选择项目名称",
                            type:"error",
                        });
                        flags=false;
                        return;
                    }else if(items.tsId==""){
                        _this.$message({
                            message:"请选择任务项",
                            type:"error",
                        });
                        flags=false;
                        return;
                    }else if(items.wWorkReport==""){
                        _this.$message({
                            message:"请输入工作描述",
                            type:"error",
                        });
                        flags=false;
                        return;
                    }else if(items.userId==""){
                        _this.$message({
                            message:"请选择责任人",
                            type:"error",
                        });
                        flags=false;
                        return;
                    }else if(items.wPlanProportion==""){
                        _this.$message({
                            message:"请输入计划完成率",
                            type:"error",
                        })
                        flags=false;
                        return;
                    }else if(items.wStatus==""){
                        _this.$message({
                            message:"请选择状态",
                            type:"error",
                        });
                        flags=false;
                        return;
                    }else{
                        flags=true;
                    };
                };
                if(flags==true){
                    if(_this.dubClick==1){
                        _this.dubClick=2;
                        var objs={
                            weekreports:newArray,
                        };

                        $.ajax({
                            url:"http://localhost:8082/weekReport/createMoreWeekReport",
                            data:JSON.stringify(objs),
                            type:"POST",
                            dataType:"json",
                            contentType: "application/json;charset=utf-8",
                            success:function(res){
                                _this.$message({
                                    message:"保存成功",
                                    type:"success",
                                });
                                _this.flags=true;
                                 _this.getDatas();
                            }
                        });
                    }else{
                        _this.$message({
                            message:"请勿多次保存",
                            type:"warning",
                        });
                    };

                };


            },

        },
        updated:function(){
            var _this=this;
            console.log(_this.tableData);
        },
    });
</script>
</html>