<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gedi.projectmanagement.dao.ActionItemMapper">
    <resultMap id="BaseResultMap" type="com.gedi.projectmanagement.model.ActionItem">
        <id column="a_id" property="aId" jdbcType="VARCHAR"/>
        <result column="a_ name" property="aName" jdbcType="VARCHAR"/>
        <result column="a_pstart_time" property="aPstartTime" jdbcType="VARCHAR"/>
        <result column="a_pend_time" property="aPendTime" jdbcType="VARCHAR"/>
        <result column="a_astart_time" property="aAstartTime" jdbcType="VARCHAR"/>
        <result column="a_aend_time" property="aAendTime" jdbcType="VARCHAR"/>
        <result column="a_percentage" property="aPercentage" jdbcType="INTEGER"/>
        <result column="a_state" property="aState" jdbcType="INTEGER"/>
        <result column="a_is_result" property="aIsResult" jdbcType="INTEGER"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="ts_id" property="tsId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    a_id, `a_ name`, a_pstart_time, a_pend_time, a_astart_time, a_aend_time,
    a_percentage, a_state, a_is_result, creater, create_time, ts_id
  </sql>

    <insert id="addActionItem1" parameterType="com.gedi.projectmanagement.model.ActionItem">
      insert into action_item(a_id, `a_ name`, a_pstart_time, a_pend_time,
      a_astart_time, a_aend_time, a_percentage, a_state, a_is_result,
      creater, create_time, ts_id)
        <foreach collection="list" item="item" open="" close="" separator=";">
      values(${item.aId},${item.aName},${item.aPstartTime},#{item.aPendTime},
      ${item.aAstartTime},${item.aAendTime},${item.aPercentage},${item.aState},
            ${item.aIsResult},${item.creater},now(),${item.tsId})
        </foreach>
    </insert>

    <!-- 新增项目中的任务项列表 -->
    <insert id="addActionItem" parameterType="com.gedi.projectmanagement.model.ActionItem">
        insert into action_item
        <foreach collection="list" item="item" open="" close="" separator=";">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.aId != null">
                a_id,
            </if>
            <if test="item.aName != null">
                `a_ name`,
            </if>
            <if test="item.aPstartTime != null">
                a_pstart_time,
            </if>
            <if test="item.aPendTime != null">
                a_pend_time,
            </if>
            <if test="item.aAstartTime != null">
                a_astart_time,
            </if>
            <if test="item.aAendTime != null">
                a_aend_time,
            </if>
            <if test="item.aPercentage != null">
                a_percentage,
            </if>
            <if test="item.aState != null">
                a_state,
            </if>
            <if test="item.aIsResult != null">
                a_is_result,
            </if>
            <if test="item.creater != null">
                creater,
            </if>
            <if test="item.createTime != null">
                create_time,
            </if>
            <if test="item.tsId != null">
                ts_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="item.aId != null">
                #{item.aId,jdbcType=VARCHAR},
            </if>
            <if test="item.aName != null">
                #{item.aName,jdbcType=VARCHAR},
            </if>
            <if test="item.aPstartTime != null">
                #{item.aPstartTime,jdbcType=DATE},
            </if>
            <if test="item.aPendTime != null">
                #{item.aPendTime,jdbcType=DATE},
            </if>
            <if test="item.aAstartTime != null">
                #{item.aAstartTime,jdbcType=DATE},
            </if>
            <if test="item.aAendTime != null">
                #{item.aAendTime,jdbcType=DATE},
            </if>
            <if test="item.aPercentage != null">
                #{item.aPercentage,jdbcType=INTEGER},
            </if>
            <if test="item.aState != null">
                #{item.aState,jdbcType=INTEGER},
            </if>
            <if test="item.aIsResult != null">
                #{item.aIsResult,jdbcType=BIT},
            </if>
            <if test="item.creater != null">
                #{item.creater,jdbcType=VARCHAR},
            </if>
            <if test="item.createTime != null">
                #{item.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="item.tsId != null">
                #{item.tsId,jdbcType=VARCHAR},
            </if>
        </trim>
        </foreach>
    </insert>


    <update id="batchUpdate" parameterType="com.gedi.projectmanagement.model.ActionItem">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update action_item
            <set>
                <if test="item.aPstartTime != null">
                    a_pstart_time = #{item.aPstartTime,jdbcType=DATE},
                </if>
                <if test="item.aPendTime != null">
                    a_pend_time = #{item.aPendTime,jdbcType=DATE},
                </if>
                <if test="item.aAstartTime != null">
                    a_astart_time = #{item.aAstartTime,jdbcType=DATE},
                </if>
                <if test="item.aAendTime != null">
                    a_aend_time = #{item.aAendTime,jdbcType=DATE},
                </if>
                <if test="item.aPercentage != null">
                    a_percentage = #{item.aPercentage,jdbcType=INTEGER},
                </if>
                <if test="item.aState != null">
                    a_state = #{item.aState,jdbcType=INTEGER},
                </if>
                <if test="item.aIsResult != null">
                    a_is_result = #{item.aIsResult,jdbcType=BIT},
                </if>
            </set>
            where a_id = #{item.aId,jdbcType=VARCHAR}
        </foreach>
    </update>


</mapper>