<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gedi.projectmanagement.dao.ActionItemMapper">
    <resultMap id="BaseResultMap" type="com.gedi.projectmanagement.model.ActionItem">
        <id column="a_id" property="aId" jdbcType="VARCHAR"/>
        <result column="a_ name" property="aName" jdbcType="VARCHAR"/>
        <result column="a_pstart_time" property="aPstartTime" jdbcType="DATE"/>
        <result column="a_pend_time" property="aPendTime" jdbcType="DATE"/>
        <result column="a_astart_time" property="aAstartTime" jdbcType="DATE"/>
        <result column="a_aend_time" property="aAendTime" jdbcType="DATE"/>
        <result column="a_percentage" property="aPercentage" jdbcType="INTEGER"/>
        <result column="a_state" property="aState" jdbcType="INTEGER"/>
        <result column="a_is_result" property="aIsResult" jdbcType="INTEGER"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="ts_id" property="tsId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    a_id, `a_ name`, a_pstart_time, a_pend_time, a_astart_time, a_aend_time,
    a_percentage, a_state, a_is_result, creater, create_time, ts_id
  </sql>

    <!-- 新增项目中的任务项列表 -->
    <insert id="addActionItem" parameterType="com.gedi.projectmanagement.model.ActionItem">
        <foreach collection="list" item="item" open="" close="" separator=";">
        insert into action_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.aId != null">
                a_id,
            </if>
            <if test="item.aName != null">
                `a_ name`,
            </if>
            <if test="item.aPstartTime != null">
                a_pstart_time,
            </if>
            <if test="item.aPendTime != null">
                a_pend_time,
            </if>
            <if test="item.aAstartTime != null">
                a_astart_time,
            </if>
            <if test="item.aAendTime != null">
                a_aend_time,
            </if>
            <if test="item.aPercentage != null">
                a_percentage,
            </if>
            <if test="item.aState != null">
                a_state,
            </if>
            <if test="item.aIsResult != null">
                a_is_result,
            </if>
            <if test="item.creater != null">
                creater,
            </if>
            <if test="item.createTime != null">
                create_time,
            </if>
            <if test="item.tsId != null">
                ts_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="item.aId != null">
                #{aId,jdbcType=VARCHAR},
            </if>
            <if test="item.aName != null">
                #{aName,jdbcType=VARCHAR},
            </if>
            <if test="item.aPstartTime != null">
                #{aPstartTime,jdbcType=DATE},
            </if>
            <if test="item.aPendTime != null">
                #{aPendTime,jdbcType=DATE},
            </if>
            <if test="item.aAstartTime != null">
                #{aAstartTime,jdbcType=DATE},
            </if>
            <if test="item.aAendTime != null">
                #{aAendTime,jdbcType=DATE},
            </if>
            <if test="item.aPercentage != null">
                #{aPercentage,jdbcType=INTEGER},
            </if>
            <if test="item.aState != null">
                #{aState,jdbcType=INTEGER},
            </if>
            <if test="item.aIsResult != null">
                #{aIsResult,jdbcType=INTEGER},
            </if>
            <if test="item.creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="item.createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="item.tsId != null">
                #{tsId,jdbcType=VARCHAR},
            </if>
        </trim>
        </foreach>
    </insert>


    <update id="batchUpdate" parameterType="com.gedi.projectmanagement.model.ActionItem">
        <foreach collection="list" item="item" open="" close="" separator=";">
            update action_item
            <set>
                <if test="item.aPstartTime != null">
                    a_pstart_time = #{item.aPstartTime},
                </if>
                <if test="item.aPendTime != null">
                    a_pend_time = #{item.aPendTime},
                </if>
                <if test="item.aAstartTime != null">
                    a_astart_time = #{item.aAstartTime},
                </if>
                <if test="item.aAendTime != null">
                    a_aend_time = #{item.aAendTime},
                </if>
                <if test="item.aPercentage != null">
                    a_percentage = #{item.aPercentage},
                </if>
                <if test="item.aState != null">
                    a_state = #{item.aState},
                </if>
                <if test="item.aIsResult != null">
                    a_is_result = #{item.aIsResult}
                </if>
            </set>
            where a_id = #{item.aId}
        </foreach>
    </update>


</mapper>