<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gedi.projectmanagement.dao.ProjectPlanMapper">
    <resultMap id="BaseResultMap" type="com.gedi.projectmanagement.model.ProjectPlan">
        <id column="p_id" property="pId" jdbcType="VARCHAR"/>
        <result column="p_name" property="pName" jdbcType="VARCHAR"/>
        <result column="p_start_time" property="pStartTime" jdbcType="DATE"/>
        <result column="p_end_time" property="pEndTime" jdbcType="DATE"/>
        <result column="p_project_phase_id" property="pProjectPhaseId" jdbcType="INTEGER"/>
        <result column="p_progress" property="pProgress" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    p_id, p_name, p_start_time, p_end_time, p_project_phase_id, p_progress, create_time,
    creater
    </sql>


    <!-- 根据ID查询用于项目总体计划列表展示 -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    p_id,
    p_name,
    p_start_time,
    p_end_time,
    p_project_phase_id,
    p_progress,
    create_time,
    creater
    from project_plan
    ORDER BY p_start_time ASC
  </select>

    <!-- 新增项目总计划 -->
    <insert id="addProject">
        insert into project_plan
        (p_id, p_name,
        p_start_time,
        p_end_time,
        p_project_phase_id,
        p_progress)
        values
            (#{pId,jdbcType=VARCHAR},
            #{pName,jdbcType=VARCHAR},
            #{pStartTime,jdbcType=DATE},
            #{pEndTime,jdbcType=DATE},
            #{pProjectPhaseId,jdbcType=INTEGER},
            #{pProgress,jdbcType=INTEGER})
    </insert>


    <!-- 根据pName模糊查询项目总体计划列表展示 -->
    <select id="selectBypName" resultMap="BaseResultMap">
        select
        p_id,
        p_name,
        p_start_time,
        p_end_time,
        p_project_phase_id,
        p_progress,
        create_time,
        creater
        from project_plan
        where 1=1
        <if test="pName != null or pName != ''">
            and p_name LIKE '%' #{pName} '%'
        </if>
        ORDER BY p_start_time ASC
    </select>

    <!-- 根据pId和pProjectPhase查询用于项目总体计划清单列表展示 -->
    <select id="selectProjectPlanListByPidAndpProjectPhaseId" resultType="ProjectPlanList">
        SELECT
            tps.pProjectPhaseId,
            tps.tName,
            tps.tId,
            tps.tsId,
            tps.tsName,
            tps.aName,
            tps.sortId,
            tt.a_id AS aId,
            tt.a_pstart_time AS apsTime,
            tt.a_pend_time AS apeTime,
            tt.a_astart_time AS aasTime,
            tt.a_aend_time AS aaeTime,
            tt.a_percentage AS percentage,
            tt.a_state AS state,
            tt.a_is_result AS isResult,
            tt.p_id AS pId
          from (
            SELECT DISTINCT
                tc.p_project_phase_id AS pProjectPhaseId,
                tc.t_name AS tName,
                tc.t_id AS tId,
                ts.ts_id AS tsId,
                ts.ts_name AS tsName,
                ta.aName AS aName,
                tc.sort_id AS sortId
            FROM task_class tc
            LEFT JOIN task_subclass ts ON ts.t_id = tc.t_id
            LEFT JOIN action_item ai ON ts.ts_id = ai.ts_id
            LEFT JOIN (
                SELECT a.a_id,a.a_name from action_item a
                LEFT JOIN project_plan p ON a.p_id = p.p_id
                where a.p_id = #{pId} and a.p_project_phase_id = #{pProjectPhaseId}
            )tp on ai.a_name = tp.a_name and ai.p_id = #{pId}
            LEFT JOIN (
                SELECT a.a_name AS aName,a.ts_id,a.p_project_phase_id from action_item a
            )ta on ta.ts_id = ts.ts_id
           where ta.p_project_phase_id = #{pProjectPhaseId}
        )tps
        LEFT JOIN (
            SELECT a.* from action_item a
            LEFT JOIN project_plan p ON a.p_id = p.p_id
            where a.p_id = #{pId} and a.p_project_phase_id = #{pProjectPhaseId}
        )tt on tps.aName = tt.a_name and tt.p_id = #{pId}
        order by tps.sortId ASC
    </select>

    <!--查询所有得项目名称以及ID值-->
    <select id="selectAllProject" resultMap="BaseResultMap">
        SELECT p_name,p_id from project_plan
    </select>

    <update id="updateBypId">
        update project_plan
        set p_project_phase_id = #{projectPlan.pProjectPhaseId}
        where p_id = #{projectPlan.pId}
    </update>
</mapper>