<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gedi.projectmanagement.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.gedi.projectmanagement.model.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="u_phone" property="uPhone" jdbcType="VARCHAR"/>
        <result column="u_name" property="uName" jdbcType="VARCHAR"/>
        <result column="u_department" property="uDepartment" jdbcType="VARCHAR"/>
        <result column="u_sign" property="uSign" jdbcType="INTEGER"/>
        <result column="u_status" property="uStatus" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, u_phone, u_name, u_department, u_sign, u_status, create_time, update_time, 
    creater
  </sql>

    <!--根据部门以及标签进行查询部门普通员工-->
    <select id="selectUserBySign" resultMap="BaseResultMap">
    select u_name,user_id from user
  </select>

    <!--根据用户ID查询用户名称-->
    <select id="selectNameByUserId" resultType="java.lang.String">
    SELECT u_name AS uName FROM `user` WHERE user_id = #{userId}
  </select>

    <!--通过调用钉钉第三方接口，获取部门下的所有员工信息，批量增添到自己的数据库中进行储存-->
    <insert id="insertManyUserMessage">
        insert into user (user_id,u_phone,u_name,u_department) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId},#{item.uPhone},#{item.uName},#{item.uDepartment})
        </foreach>
    </insert>


    <select id="selectAllUserId" resultMap="BaseResultMap">
    select user_id from user
  </select>

    <delete id="deleteAllUserMessage">
    DELETE from USER
  </delete>


</mapper>