<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gedi.projectmanagement.dao.WeekreportMapper" >
  <resultMap id="BaseResultMap" type="com.gedi.projectmanagement.model.Weekreport" >
    <id column="w_id" property="wId" jdbcType="VARCHAR" />
    <result column="p_id" property="pId" jdbcType="VARCHAR" />
    <result column="w_start_time" property="wStartTime" jdbcType="DATE" />
    <result column="w_end_time" property="wEndTime" jdbcType="DATE" />
    <result column="a_id" property="aId" jdbcType="VARCHAR" />
    <result column="w_work_report" property="wWorkReport" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="w_actual_proportion" property="wActualProportion" jdbcType="INTEGER" />
    <result column="w_plan_proportion" property="wPlanProportion" jdbcType="INTEGER" />
    <result column="w_status" property="wStatus" jdbcType="INTEGER" />
    <result column="w_remark" property="wRemark" jdbcType="VARCHAR" />
    <result column="r_finish" property="rFinish" jdbcType="VARCHAR" />
    <collection property="projectPlans" javaType="java.util.List" ofType="com.gedi.projectmanagement.model.ProjectPlan">
      <id column="p_id" property="pId" jdbcType="VARCHAR"/>
      <result column="p_name" property="pName" jdbcType="VARCHAR"/>
      <result column="p_start_time" property="pStartTime" jdbcType="DATE"/>
      <result column="p_end_time" property="pEndTime" jdbcType="DATE"/>
      <result column="p_project_phase" property="pProjectPhase" jdbcType="INTEGER"/>
      <result column="p_progress" property="pProgress" jdbcType="DECIMAL"/>
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
      <result column="creater" property="creater" jdbcType="VARCHAR"/>
    </collection>
    <collection property="users" javaType="java.util.List" ofType="com.gedi.projectmanagement.model.User">
      <id column="user_id" property="userId" jdbcType="VARCHAR" />
      <result column="u_phone" property="uPhone" jdbcType="INTEGER" />
      <result column="u_name" property="uName" jdbcType="VARCHAR" />
      <result column="u_department" property="uDepartment" jdbcType="VARCHAR" />
      <result column="u_sign" property="uSign" jdbcType="INTEGER" />
      <result column="u_status" property="uStatus" jdbcType="BIT" />
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
      <result column="creater" property="creater" jdbcType="VARCHAR" />
    </collection>
    <collection property="actionItems" javaType="java.util.List" ofType="com.gedi.projectmanagement.model.ActionItem">
      <id column="a_id" property="aId" jdbcType="VARCHAR" />
      <result column="a_ name" property="aName" jdbcType="VARCHAR" />
      <result column="a_pstart_time" property="aPstartTime" jdbcType="DATE" />
      <result column="a_pend_time" property="aPendTime" jdbcType="DATE" />
      <result column="a_astart_time" property="aAstartTime" jdbcType="DATE" />
      <result column="a_aend_time" property="aAendTime" jdbcType="DATE" />
      <result column="a_user_id" property="userId" jdbcType="INTEGER" />
      <result column="a_percentage" property="aPercentage" jdbcType="INTEGER" />
      <result column="a_state" property="aState" jdbcType="INTEGER" />
      <result column="a_is_result" property="aIsResult" jdbcType="BIT" />
      <result column="creater" property="creater" jdbcType="VARCHAR" />
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="ts_id" property="tsId" jdbcType="VARCHAR" />
     <!-- <collection property="taskSubclasses" javaType="java.util.List" ofType="com.gedi.projectmanagement.model.TaskSubclass">
        <id column="ts_id" property="tsId" jdbcType="VARCHAR" />
        <result column="ts_name" property="tsName" jdbcType="VARCHAR" />
        <result column="p_id" property="pId" jdbcType="VARCHAR" />
        <result column="t_id" property="tId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
      </collection>-->
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    w_id, p_id, w_start_time, w_end_time, a_id, w_work_report, user_id, w_actual_proportion, 
    w_plan_proportion, w_status, w_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from weekreport
    where w_id = #{wId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from weekreport
    where w_id = #{wId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gedi.projectmanagement.model.Weekreport" >
    insert into weekreport (w_id, p_id, w_start_time, 
      w_end_time, a_id, w_work_report, 
      user_id, w_actual_proportion, w_plan_proportion, 
      w_status, w_remark)
    values (#{wId,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, #{wStartTime,jdbcType=DATE}, 
      #{wEndTime,jdbcType=DATE}, #{aId,jdbcType=VARCHAR}, #{wWorkReport,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{wActualProportion,jdbcType=INTEGER}, #{wPlanProportion,jdbcType=INTEGER}, 
      #{wStatus,jdbcType=INTEGER}, #{wRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gedi.projectmanagement.model.Weekreport" >
    insert into weekreport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wId != null" >
        w_id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="wStartTime != null" >
        w_start_time,
      </if>
      <if test="wEndTime != null" >
        w_end_time,
      </if>
      <if test="aId != null" >
        a_id,
      </if>
      <if test="wWorkReport != null" >
        w_work_report,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="wActualProportion != null" >
        w_actual_proportion,
      </if>
      <if test="wPlanProportion != null" >
        w_plan_proportion,
      </if>
      <if test="wStatus != null" >
        w_status,
      </if>
      <if test="wRemark != null" >
        w_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wId != null" >
        #{wId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="wStartTime != null" >
        #{wStartTime,jdbcType=DATE},
      </if>
      <if test="wEndTime != null" >
        #{wEndTime,jdbcType=DATE},
      </if>
      <if test="aId != null" >
        #{aId,jdbcType=VARCHAR},
      </if>
      <if test="wWorkReport != null" >
        #{wWorkReport,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="wActualProportion != null" >
        #{wActualProportion,jdbcType=INTEGER},
      </if>
      <if test="wPlanProportion != null" >
        #{wPlanProportion,jdbcType=INTEGER},
      </if>
      <if test="wStatus != null" >
        #{wStatus,jdbcType=INTEGER},
      </if>
      <if test="wRemark != null" >
        #{wRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gedi.projectmanagement.model.Weekreport" >
    update weekreport
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="wStartTime != null" >
        w_start_time = #{wStartTime,jdbcType=DATE},
      </if>
      <if test="wEndTime != null" >
        w_end_time = #{wEndTime,jdbcType=DATE},
      </if>
      <if test="aId != null" >
        a_id = #{aId,jdbcType=VARCHAR},
      </if>
      <if test="wWorkReport != null" >
        w_work_report = #{wWorkReport,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="wActualProportion != null" >
        w_actual_proportion = #{wActualProportion,jdbcType=INTEGER},
      </if>
      <if test="wPlanProportion != null" >
        w_plan_proportion = #{wPlanProportion,jdbcType=INTEGER},
      </if>
      <if test="wStatus != null" >
        w_status = #{wStatus,jdbcType=INTEGER},
      </if>
      <if test="wRemark != null" >
        w_remark = #{wRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where w_id = #{wId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.gedi.projectmanagement.model.Weekreport" >
    update weekreport
    set p_id = #{pId,jdbcType=VARCHAR},
      w_start_time = #{wStartTime,jdbcType=DATE},
      w_end_time = #{wEndTime,jdbcType=DATE},
      a_id = #{aId,jdbcType=VARCHAR},
      w_work_report = #{wWorkReport,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      w_actual_proportion = #{wActualProportion,jdbcType=INTEGER},
      w_plan_proportion = #{wPlanProportion,jdbcType=INTEGER},
      w_status = #{wStatus,jdbcType=INTEGER},
      w_remark = #{wRemark,jdbcType=VARCHAR}
    where w_id = #{wId,jdbcType=VARCHAR}
  </update>

  <!--查询双周计划表里的详细内容进行展示-->
  <select id="selectWeekReportDetial" resultMap="BaseResultMap">
  select w.w_id,w.w_start_time,w.w_end_time,w.w_work_report,w.w_actual_proportion,w.w_plan_proportion,w.w_status,w.w_remark,w.r_finish,pp.p_name,u.u_name,ac.`a_ name`from
weekreport w LEFT JOIN project_plan pp on w.p_id=pp.p_id left join user u on u.user_id=w.user_id left join project_user_medium pum on pum.a_id=w.a_id LEFT JOIN action_item
ac on ac.a_id=pum.a_id LEFT JOIN task_subclass tu on ac.ts_id=tu.ts_id
  </select>


  <!--批量添加双周计划表的-->
  <insert id="addWeekReport">
      insert into weekreport (w_id,p_id,w_start_time,w_end_time,a_id,w_work_report,user_id,
    w_actual_proportion,w_plan_proportion,w_status,w_remark)
    values
      <foreach collection="list" item="item" separator=",">
          (#{item.wId},#{item.pId},#{item.wStartTime},#{item.wEndTime},#{item.aId},
        #{item.wWorkReport},#{item.userId},#{item.wActualProportion},#{item.wPlanProportion},
        #{item.wStatus},#{item.wRemark})
      </foreach>
  </insert>

  <!--根据双周计划表得id值进行修改为暂停-->
  <update id="updateWeekReportStop">
    UPDATE weekreport SET w_status=2 where w_id=#{wId}
  </update>

  <!--根据双周计划表得id值进行修改为进行中-->
  <update id="updateWeekReportAction">
    UPDATE weekreport SET w_status=1 where w_id=#{wId}
  </update>

  <!--根据双周计划表得id值查询到相应的计划占比值-->
  <select id="selectProjectById" resultMap="BaseResultMap">
    SELECT w_plan_proportion FROM weekreport WHERE w_id=#{wId}
  </select>

  <!--根据日报中所填写的值，通过计算进行修改双周及计划表实际占比的数值-->
  <update id="updateActual">
    update weekreport SET w_actual_proportion=#{valueZ} where w_id=#{wId}
  </update>

  <!--查询wId值是否存在-->
  <select id="selectByWeekReportId" resultMap="BaseResultMap">
    SELECT w_id from weekreport where w_id=#{wId}
  </select>

</mapper>